:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    font-family: "Rubik", sans-serif;
}

.main-container {
    background-color: white;
}

.sidenav {
    background-color: #1e83bc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.sidenav-container {
    position: absolute;
    padding-right: 40px;
    top: 0;
    bottom: 0;
    right: 0;
}

.sidenav-header i {
    color: white;
    font-size: 25px;
}

.sidenav-header {
    width: 100%;
    padding: 25px 0;
    text-align: right;
    position: fixed;
    top: 0;
    right: 40px;
}

.navbar {
    background-color: #d3d3d3cf;
}

.navbar a {
    color: #0079be;
    height: 60px;
    font-size: 18px;
    font-weight: 800;
}

.active {
    background-color: transparent;
    font-weight: 900;
}

.main-menu {
    margin: 10px 20px;
}

.navbar-nav > li > a {
    line-height: 140%;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.logo {
    height: 60px;
}

.main-image-container img {
    width: 100%;
    margin-top: -100px;
}

#filters-form {
    display: flex;
    justify-content: center;
}

.filters-parameter {
    display: flex;
    width: 50%;
    margin-top: -43px;
    background-color: white;
    color: #0079be;
    line-height: 30px;
    font-size: 18px;
    z-index: 10;
}

.city-filter, .price-filter, .type-filter {
    width: 33.3333%;
    max-width: 100%;
    padding: 5px;
    border: solid 1px #2a648487;
    border-right-style: none;
}

.search-filter {
    margin-top: -43px;
    z-index: 10;
}

.search-filter button {
    background-color: #0079be;
    color: white;
}

.search-filter button:hover {
    background-color: #176491;
}

.search-icon {
    color: white;
}

.search-button {
    padding: 3rem 8rem;
    border: none;
}

.search-icon {
    vertical-align: middle;
}

select {
    margin-top: 5px;
}

.footer {
    background-color: #0079be;
    color: white;
    line-height: 55px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.card-title {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin {
    margin-top: 15rem;
}

.card-signup {
    margin-top: 6rem;
}

.card-title {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

input, input + label {
    cursor: auto;
}

.form-signin, .form-signup {
    width: 100%;
}

.form-signin .btn, .form-signup .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 1.5rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (7 / 4) /*(3 / 2)*/);
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.signin-button, .signup-button {
    background-color: #0079be;
    border: solid;
}

.signin-button:hover, .signup-button:hover {
    background-color: #1e4262;
    border: solid;
}

.signin-link, .signup-link {
    color: white;
    padding-left: 5px;
    margin-bottom: 1.5rem;
}

.signin-link > a, .signup-link > a {
    color: #ffffff;
}

.signin-link > a:hover, .signup-link > a:hover {
    color: #ffffff;
    font-weight: 400;
}

hr {
    margin: 15px 0px;
}

.form-signin .form-label-group, .form-signup .form-label-group {
    margin-bottom: 2rem;
}

.form-signin .form-label-group:last-of-type, .form-signup .form-label-group:last-of-type {
    margin-bottom: 1rem;
}

.signin-container {
    visibility: visible;
}

.signup-container {
    display: none;
}

#pswd_info {
    display: none;
    background: #ffffff none repeat scroll 0 0;
    color: #0079be;
    left: -288px;
    position: absolute;
    top: 240px;
    border-radius: 8px;
    border: solid #0079be;
    z-index: 200;
}

#pswd_info h4 {
    background: white none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

#pswd_info ul {
    list-style: outside none none;
    padding: 0;
}

#pswd_info ul li {
    padding: 5px 25px;
}

#confirm_pswd_info {
    display: none;
    background: #ffffff none repeat scroll 0 0;
    color: #0079be;
    left: -258px;
    position: absolute;
    top: 403px;
    border-radius: 8px;
    border: solid #0079be;
    z-index: 200;
}

#confirm_pswd_info p {
    background: white none repeat scroll 0 0;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 15px;
    margin: 5px;
}

.valid {
    background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/vq43s2wib/valid.png") no-repeat scroll 2px 6px;
    color: green;
    line-height: 21px;
    padding-left: 22px;
}

.invalid {
    background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/olmaj1p8z/invalid.png") no-repeat scroll 2px 6px;
    color: red;
    line-height: 21px;
    padding-left: 22px;
}

#pswd_info::before {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    height: 25px;
    left: 240px;
    margin-top: -12.5px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 25px;
}

#confirm_pswd_info::before {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    height: 25px;
    left: 210px;
    margin-top: -12.5px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 25px;
}

.main-houses h3.title {
    text-align: center;
    margin: 5rem 0 3rem;
    font-size: 40px;
    color: #0079be;
}


/* Profile bar */
.container {
    margin-top: 0px !important;
    width: 100%;
    padding: 0px;
}

.profile-head {
    width: 100%;
    background-color: #0079be;
    float: left;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
}

.profile-head div {
    width: 85%;
}

.profile-head h5 {
    width: 100%;
    padding: 15px 5px 10px 5px;
    text-align: justify;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 10px;
}

.profile-head p {
    width: 100%;
    text-align: justify;
    padding: 0px 5px 5px 5px;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    margin: 0;
}

.profile-head ul {
    list-style: none;
    padding: 0;
}

.profile-head ul li {
    display: block;
    color: #ffffff;
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
}

.profile-head ul li:hover span {
    color: rgb(0, 4, 51);
}

.profile-head ul li span {
    color: #ffffff;
    padding-right: 15px;
}

.profile-head ul li a {
    color: #ffffff;
}

.profile-head h6 {
    width: 100%;
    text-align: center;
    font-weight: 100;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.pass_show {
    position: relative;
}

.pass_show .ptxt {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 1;
    color: #1e83bc;
    margin-top: -10px;
    cursor: pointer;
    transition: .3s ease all;
}

.pass_show .ptxt:hover {
    color: #f36c01;
}

.posts-row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.posts-row .card {
    width: 80%;
}

.posts-row .card-title {
    margin-bottom: 20px;;
}

.posts-row .posts-subtitle {
    width: 90%;
    color: #1e4262;
}

.posts-row .add-new-button {
    width: 10%;
}

.no-properties {
    display: flex;
    justify-content: center;
    margin: 40px 0 70px;
}

.no-properties .row {
    width: 50%;
}

.no-properties .text {
    margin: 30px 0;
    font-size: 20px;
    text-align: center;
}

.create-advert {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30%;
}

.submit-advert-button {
    color: #0079be;
    background-color: #fff;
    border: #2e6da4 3px solid;
}

#announcementForm {
    display: none;
    position: fixed;
    top: 10%;
    right: 20%;
    padding: 10px;
    border: 4px solid #1e83bc;
    z-index: 10;
    background-color: white;
    width: 50%;
}

#form-property-description {
    width: 100%;
}

#announcementForm h1 {
    text-align: center;
    color: #1e83bc;
    margin-bottom: 25px;
}

#announcementForm .form-container div {
    margin: 10px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.details div:nth-child(1),
.details div:nth-child(2),
.details div:nth-child(3) {
    display: flex;
}

.details div:nth-child(4),
.details div:nth-child(5) {
    margin-top: 15px !important;
}

.details div:nth-child(1) label,
.details div:nth-child(2) label,
.details div:nth-child(3) label {
    margin: 0 10px;
}

.details div:nth-child(1) select,
.details div:nth-child(2) select,
.details div:nth-child(3) select {
    margin: 5px 0;
}

.details div:nth-child(4) label,
.details div:nth-child(5) label {
    margin-right: 10px;
}

.details div:nth-child(5) input {
    width: 30%;
}

#form-property-title,
#form-property-address{
    width: 79%;
}

.buttons-row {
    display: flex;
    justify-content: center;
}

.buttons-row button {
    margin: 20px;
    width: 15%;
    padding: 7px 15px;
}
label[for=title], label[for=address] {
    width: 20%;
}

label[for=bedrooms], label[for=bathrooms], label[for=parking] {
    margin: 0 20px;
}

label[for=description] {
    margin-bottom: 10px;
}

.announcements-row h4 {
    font-size: 30px;
}

.edit-buttons-row {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.calendar-button, .edit-button, .delete-button {
    width: 30%;
}

.posts-row .table .bg-light th:first-child,
.posts-row . table .bg-light th:nth-child(9) {
    width: 3%;
}

.posts-row .table .bg-light th:nth-child(2) {
    width: 15%;
}

.posts-row .table .bg-light th:nth-child(5),
.posts-row .table .bg-light th:nth-child(6),
.posts-row .table .bg-light th:nth-child(7) {
    width: 4%;
}

.posts-row .table .bg-light th:nth-child(4) {
    width: 35%;
}

.posts-row .table .bg-light th:nth-child(10) {
    width: 6%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    top: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close-modal {
    color: #224a72;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close.modal:focus,
#descriptionLoader:hover {
    color: #224a72;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px;
    color: #224a72;
}

.modal-title {
    margin-bottom: 10px;
}

.modal-title span:first-child {
    font-size: 28px;
}

.profile-button {
    cursor: pointer;
}

#contatti {
    background-color: #1e83bc;
    letter-spacing: 2px;
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

#contatti a {
    color: #fff;
    text-decoration: none;
}

#contatti .row {
    margin: 25px;
}

.my-4 i {
    margin: 20px 20px 20px 0;
}

#contatti {
    padding: 50px 100px;
    width: 100%;
}

#contatti .maps iframe {
    width: 100%;
    height: 100%;
}

#author a {
    color: #fff;
    text-decoration: none;
}

.properties-container {
    margin: 0 15%;
}

.property-display-container {
    display: flex;
    flex-wrap: wrap;
}

.property-display-container {
    color: #0079be;
}

.property-display-container .item {
    flex-grow: 1;
    flex-basis: 350px;
    margin: 20px;
    border: solid 2px #0079be;
    border-radius: 5px;
    background-color: #fff;
}

.property-display-container .item .image {
    height: 220px;
    position: relative;
}

.property-display-container .item .price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #f32e4e;
    color: white;
}

.property-display-container .item img {
    width: 100%;
    height: 100%;
}

.property-display-container .item .title {
    padding: 0 20px;
}

.property-display-container .item .title h3 {
    margin-top: 10px;
}

.property-display-container .item .address {
    padding: 0 20px;
    margin-bottom: 10px;
}

.property-display-container .item .details {
    margin-bottom: 10px;
}

.property-display-container .item .address i {
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.property-display-container .item .bedrooms i,
.property-display-container .item .bathrooms i,
.property-display-container .item .parking i {
    margin-right: 10px;
    font-size: 20px;
}

.property-display-container .item .area{
    margin-top: 15px !important ;
    padding: 0 20px;
}

.property-display-container .item .details {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

.property-display-container .item .details .bedrooms,
.property-display-container .item .details .bathrooms,
.property-display-container .item .details .parking {
    margin-right: 40px;
}

.property-display-container .item:empty {
    height: 0;
    border: none;
}

.details-container {
    margin-bottom: 35px;
}

.more-info {
    position: relative;
}

.more-info button {
    position: absolute;
    right: 30px;
    bottom: -20px;
}

.pagination-row {
    text-align: center;
    margin: 50px 0;
}

.pagination>li>a:hover {
    cursor: pointer;
}

.footer-contatti {
    position: absolute !important;
}

.modal {
    z-index: 1500;
    width: 45%;
}

#modal-body {
    padding: 20px;
}

#modal-body .row  {
    padding: 10px;
}

#modal-body .row .fa {
    font-weight: 900;
    font-size: 20px;
}

.modal-title {
    margin: 0 0 0 10px;
    font-weight: 600;
    font-size: 25px;
    color: #0079be;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
}

@media (min-width: 576px) {
    .sidenav-container {
        width: 350px;
    }
}

@media (max-width: 1300px) {
    .create-advert {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 100%;
    }
}

@media (max-width: 770px) {
    .create-advert {
        width: 90%;
    }
}

@media (max-width: 550px) {
    .no-properties .row {
        width: 80%;
    }

    .create-advert {
        width: 70%;
    }
}

@media (max-width: 390px) {
    .profile-head {
        padding: 15px 20px;
    }

    .profile-head div {
        width: 100%;
    }
}